
@model MvcMusicStore.Controllers.Album
@{
    ViewBag.Title = "Album - Model.Title";
}

<h2>@Model.Title</h2>

<p>
    <img alt="@Model.Title" src="@Model.AlbumArtUrl" />
</p>

<div id="album-details">
    @*<p>
        <em>Genre:</em>
        @Model.Genre.Name
    </p>
    <p>
        <em>Artist:</em>
        @Model.Artist.Name
    </p>*@
    <p>
        <em>Price:</em>
        @String.Format("{0:F}", Model.Price)
    </p>
   @* <p class="button">
        @Html.ActionLink("Add to cart", "AddToCart", 
        "ShoppingCart", new { id = Model.AlbumId }, "")
    </p>*@
</div>       

<a href="docs-transitions.html" data-role="button" data-theme="b" data-rel="back" data-inline="true" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-up-b">
    <span class="ui-btn-inner"><span class="ui-btn-text">Take me back</span>
    </span>
</a>
